{% extends 'layouts/base.html' %}
{% load static %}

{% if request.user.user_type == 'Employee' %}
{% block employee %}
<div class="row page-titles mx-0">
	<div class="col-lg-12 p-md-0">
		<h4 class="text-primary">Good morning <span class="names">Mr {{ request.user.full_name }}</span></h4>
		<p class="mb-0">{{ request.user.user_type }} Dashboard</p>
	</div>
</div>
<div class="new-patients main_container">
	<div class="row">
		<div class="col-sm-6 col-xl-3 col-lg-6">
			<div class="widget card card-primary">
				<div class="card-body">
					<div class="media text-center">
						<span>
							<i class="fas fa-calendar-check fa-2x"></i>
						</span>
						<div class="media-body">
							<span class="text-white">Earnings</span>
							<h3 class="mb-0 text-white">7699</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-xl-3 col-lg-6">
			<div class="widget card card-danger">
				<div class="card-body">
					<div class="media text-center">
						<span>
							<i class="fas fa-user-nurse fa-2x"></i>
						</span>
						<div class="media-body">
							<span class="text-white">Patients</span>
							<h3 class="mb-0 text-white">400</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-xl-3 col-lg-6">
			<div class="widget card card-primary">
				<div class="card-body">
					<div class="media text-center">
						<span>
							<i class="fas fa-user-plus fa-2x"></i>
						</span>
						<div class="media-body">
							<span class="text-white">Appointments</span>
							<h3 class="mb-0 text-white">1360</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-xl-3 col-lg-6">
			<div class="widget card card-primary">
				<div class="card-body">
					<div class="media text-center">
						<span>
							<i class="fas fa-database fa-2x"></i>
						</span>
						<div class="media-body">
							<span class="text-white">Total Revenue</span>
							<h3 class="mb-0 text-white">$6500</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-8">
			<div class="card shadow widget1">
				<div class="card-header">
					<h4 class="card-title">Activity</h4>
					<span class="subtitle">TODAY 24, JAN 2019</span>
				</div>
				<div class="card-body">
					<canvas id="chart1" width="100%" height="40"></canvas>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="card shadow widget-2">
				<div class="card-header">
					<h4 class="card-title">New Patient</h4>
				</div>
				<div class="card-body">
					<div class="panel-body">
						<ul class="list-group list-unstyled">
							<li class="list-group-item d-flex justify-content-between align-items-center media">
								<div class="d-flex">
									<div class="img-patient">
										<img src="{% static 'https://via.placeholder.com/128/f8f8f8/2b2b2b' %}"
											class="rounded-circle" alt="people">
									</div>
									<div class="media-body">
										<h4 class="mb-0">Airi Satou</h4>
										<span>Maried, Rabat</span>
									</div>
								</div>
								<button type="button" class="ms-btn-icon btn-success" name="button">
									<i class="fas fa-arrow-right"></i>
								</button>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-center media">
								<div class="d-flex">
									<div class="img-patient">
										<img src="{% static 'https://via.placeholder.com/128/f8f8f8/2b2b2b' %}"
											class="rounded-circle" alt="people">
									</div>
									<div class="media-body">
										<h4 class="mb-0">Airi Satou</h4>
										<span>Maried, Rabat</span>
									</div>
								</div>
								<button type="button" class="ms-btn-icon btn-success" name="button">
									<i class="fas fa-arrow-right"></i>
								</button>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-center media">
								<div class="d-flex">
									<div class="img-patient">
										<img src="{% static 'https://via.placeholder.com/128/f8f8f8/2b2b2b' %}"
											class="rounded-circle" alt="people">
									</div>
									<div class="media-body">
										<h4 class="mb-0">Airi Satou</h4>
										<span>Maried, Rabat</span>
									</div>
								</div>
								<button type="button" class="ms-btn-icon btn-success" name="button">
									<i class="fas fa-arrow-right"></i>
								</button>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-center media">
								<div class="d-flex">
									<div class="img-patient">
										<img src="{% static 'https://via.placeholder.com/128/f8f8f8/2b2b2b' %}"
											class="rounded-circle" alt="people">
									</div>
									<div class="media-body">
										<h4 class="mb-0">Airi Satou</h4>
										<span>Maried, Rabat</span>
									</div>
								</div>
								<button type="button" class="ms-btn-icon btn-success" name="button">
									<i class="fas fa-arrow-right"></i>
								</button>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-center media">
								<div class="d-flex">
									<div class="img-patient">
										<img src="{% static 'https://via.placeholder.com/128/f8f8f8/2b2b2b' %}"
											class="rounded-circle" alt="people">
									</div>
									<div class="media-body">
										<h4 class="mb-0">Airi Satou</h4>
										<span>Maried, Rabat</span>
									</div>
								</div>
								<button type="button" class="btn-success" name="button">
									<i class="fas fa-arrow-right"></i>
								</button>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

{% block js_employee %}
<!-- popper js -->
<script src="{% static 'assets/plugins/popper/popper.min.js' %}"></script>

<!-- Moment -->
<script src="{% static 'assets/plugins/moment/moment.min.js' %}"></script>

<!-- Date Range Picker -->
<script src="{% static 'assets/plugins/daterangepicker/daterangepicker.min.js' %}"></script>

<!-- Datatable -->
<script src="{% static 'assets/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/js/init-tdatatable.js' %}"></script>

<!-- Chart js -->
<script src="{% static 'assets/plugins/chart/chart/Chart.min.js' %}"></script>
<script src="{% static 'assets/js/charts-custom.js' %}"></script>

{% endblock js_employee %}
{% endblock employee %}

{% endif %}