{% extends 'layouts/base1.html' %}
{% load static %}
{% block content %}
<div class="container" style="max-width: 800px; margin-top: 20px">
	<div class="row">
		<div class="col-lg-12">
			<div class="doctor-info-content">
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item col-md-6" role="presentation">
						<a href="{% url 'e_register' %}" class="nav-link active" id="home-tab" data-bs-toggle="tab"
							data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="false">
							Employee Registration Form
						</a>
					</li>
					<li class="nav-item col-md-6" role="presentation">
						<a href="{% url 't_register' %}" class="nav-link" id="profile-tab" data-bs-toggle="tab"
							data-bs-target="#profile" type="button" role="tab" aria-controls="profile"
							aria-selected="false">
							Tenant Registration Form
						</a>
					</li>
				</ul>

			</div>
		</div>
	</div>
</div>

{% endblock %}