{% extends 'layouts/base.html' %}
{% load static %}
{% if request.user.user_type == 'Tenant'%}

{% block tenant %}
<div class="row page-titles mx-0">
	<div class="col-lg-12 p-md-0">
		<h4 class="text-primary">Welcome <span class="names">Mr {{ request.user.full_name }}</span></h4>
	</div>
</div>
<div class="new-patients main_container">
	<div class="row">
		<div class="col-sm-6 col-xl-3 col-lg-6">
			<div class="widget card card-primary">
				<div class="card-body">
					<div class="media text-center">
						<span>
							<i class="fas fa-calendar-check fa-2x"></i>
						</span>
						<div class="media-body">
							<span class="text-white">Rented Statement</span>
							<h3 class="mb-0 text-white">$ {{ total.total_rent__sum }}</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-xl-3 col-lg-6">
			<a href="{% url 'tenant_details' %}">

				<div class="widget card card-danger">
					<div class="card-body">
						<div class="media text-center">
							<span>
								<i class="fas fa-cubes fa-2x"></i>
							</span>
							<div class="media-body">
								<span class="text-white">Unit Details</span>
								<br>
								<h5><i class="fa fa-arrow-circle-right mb-0 text-white"> More Info</i></h5>
							</div>
						</div>
					</div>
				</div>
			</a>

		</div>
		<div class="col-sm-6 col-xl-3 col-lg-6">
			<div class="widget card card-primary">
				<div class="card-body">
					<div class="media text-center">
						<span>
							<i class="fas fa-comments fa-2x"></i>
						</span>
						<div class="media-body">
							<span class="text-white">My Complains</span>
							<h3 class="mb-0 text-white">{{ com }}</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-xl-3 col-lg-6">
			<div class="widget card card-primary">
				<div class="card-body">
					<div class="media text-center">
						<span>
							<i class="fas fa-question-circle fa-2x"></i>
						</span>
						<div class="media-body">
							<span class="text-white">Help Desk</span>
							<br>
							<a href="javascript:;" data-toggle="modal" data-target="#help_desk"
								class="small-box-footer mb-0 text-white">More Info <i
									class="fa fa-arrow-circle-right mb-0 text-white"></i></a>


							<div id="help_desk" class="modal fade" tabindex="-1" role="dialog"
								aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header green_header">
											<button aria-label="Close" data-dismiss="modal" class="close"
												type="button"><span aria-hidden="true"><i
														class="fa fa-close"></i></span></button>
										</div>
										<div class="modal-body">
											<div class="row">
												<div align="center">
													<h2><u>XB Tower</u></h2>
												</div>
												<div class="col-md-12">
													<table class="table">
														<tbody>
															<tr>
																<td>Moderator Contact No: </td>
																<td>+93788730001</td>
															</tr>
															<tr>
																<td>Secrataty Contact No: </td>
																<td>+93789108228</td>
															</tr>
															<tr>
																<td>Security Guard Contact No: </td>
																<td>+93795329942</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>



						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</div>



{% block js_tenant %}
<!-- popper js -->
<script src="{% static 'assets/plugins/popper/popper.min.js' %}"></script>

<!-- Moment -->
<script src="{% static 'assets/plugins/moment/moment.min.js' %}"></script>

<!-- Date Range Picker -->
<script src="{% static 'assets/plugins/daterangepicker/daterangepicker.min.js' %}"></script>

<!-- Datatable -->
<script src="{% static 'assets/plugins/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/js/init-tdatatable.js' %}"></script>

<!-- Chart js -->
<script src="{% static 'assets/plugins/chart/chart/Chart.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.model.js' %}"></script>
<script src="{% static 'assets/js/charts-custom.js' %}"></script>

{% endblock js_tenant %}
{% endblock tenant %}
{% endif %}